.slider-frame {
    overflow: hidden;
    width: 200px;
    aspect-ratio: 1 / 1;
    position: relative;
}

.slider-frame > img {
    position: absolute;
    width: 100%;
    transition: right 1s;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
}
